body .bodyLetter{
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;    
    align-items: center;
    justify-content: center; 
}

header{
    text-align: right;
    font-style: italic;
}

header p{
    font-style: normal;
}

header .remetente{
    text-align: left;
}

.topo {
    align-items: center;
    text-align: center;
    background-color: bisque;
    padding: 15px;
}

.letter{
    width: 210mm;
    background-color: white;
    margin: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}


footer {
    text-align: center;
    font-style: italic;    
}
