body {
    font: normal 15pt Arial;
    background-color: aqua;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: inset;
    width: 500px;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

main div{
    padding: 10px;
}

input{
    margin: auto;
    width: 25%;    
}

input#botao{  
    display: flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #47f3ea;
    border: none;
    border-radius: 15px;

}